#di1 {
  border-width: 1px;
  border-style: solid;
  padding: 20px;
}
#di2 {
 border-style: solid;
 border-width: 1px;
 padding: 10px;
}
img {
  margin: 14px;
  float: left;
}
#di3 {
  background-color: silver;
  margin: 10px;
}
